
body{
    margin: 0 4rem;
    color: white;
    background-color: #091B29;
}

.contenedor-list{
    display: flex;
    gap: 2rem;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2rem 0;
}
.titulo h1{
    margin-bottom: 0;
}
.infoP{
    background-color: #1D1D1D;
    border: 3px #423D2C solid;
    color: #D8C36C;
    margin: 1rem 0;
    padding: 1rem 0;
    border-radius: 8px;
}

.infoP p{
    margin: 0 1rem;

}
.info p span{
    font-weight: bold;

}

.btn-buscar{
    background-color: #30344A;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    color: #a7b9ca;
}
.btn-buscar:hover{
    background-color: #404562;
    color: white;
}
.input-text{
    font-size: 1.5rem;
    border-radius: 10px;
}
.a-lista{
    width: 60%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;


}
.card{
    text-align: center;
    width: 100%;
    border-radius: .5rem;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    /* border: 0.5px #000 solid */
}
.card h3{
    font-size: small;
}
img{
  width: 100%;       /* Para que ocupe el ancho disponible */
  height: auto;      /* Mantiene la proporción */
  max-width: 200px;  /* Limita el tamaño máximo si querés */
  object-fit: cover; /* Corta la imagen para que se vea completa sin deformarse */
  border-radius: 10px;

  
}

.af-list{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 1rem;

    
    max-height: 55rem;   /* 🔹 altura máxima */
    overflow-y: auto;    /* 🔹 activa el scroll vertical */
    padding-right: 5px;  /* opcional: evita que el scroll tape contenido */
    
}
.af-card{
   
    width: 80%;
    border-radius: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
    margin: .5rem auto;

    transition: all 0.5s ease; /* suaviza el cambio */
    border-radius: 8px;
    cursor: pointer;
}
.af-card h3{
    font-size: small;
}
.af-card:hover{
     /* background-color: rgb(247, 69, 69); */
     border: 1px #404562 solid;
    transform: scale(1.05)
}
.autor-span{
    color: #D8C36C;
}
.autor-p{
    font-size: small;
    margin: 0;
}

@media (max-width: 900px) {
    .contenedor-list{
        flex-direction: column;
    }
    .a-lista{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);

    }
}